body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 0;
  margin: 0 auto;
  width: 600px;
}

.clockComponent {
  width: 600px;
  margin: 0 auto;
}

.done {
  text-decoration: line-through;
}

.inputForm {
  display: block;
  margin-bottom: 1rem;
}

.rm {
  background: red;
  color: white;
  border-radius: 50%;
  border: none
}